table {
  width: 100%;
}
.mat-column-position {
  width: 10%;
}
.mat-column-name {
  width: 40%;
}
.mat-column-club {
  width: 20%;
}
.mat-column-points {
  width: 15%;
}
.mat-column-actions {
  width: 15%;
}
